<div class="panel panel-primary">
        <div class="panel-heading">Add public SSH-key:</div>
        <div class="panel-body">
            <div class="form-group">
                <label for="path">Key-file path: </label>
                <input type="text" class="form-control" id="path" value="{{ ssh_key.path }}">
            </div>
            <div class="form-group">
                <label for="description">Description: </label>
                <input type="text" class="form-control" id="description" value="{{ jd.description }}">
            </div>
            <hr/>
            <button id="save_ssh_key_btn" value="{{ ssh_key.id }}" class="btn btn-success btn-small">Save </button>
            <button id="return_btn" value="{{ ssh_key.id }}" class="btn btn-danger btn-small"><i class="icon-white icon-chevron-left"></i> Return</button>
        </div>
</div>

<script>
    $('#return_btn').click(function() {
        var jd_id = $(this).val();
             $.ajax({
                          url: "/administrator/jd/"+jd_id+"/delete/",
                          success: function(response) {
                            show_alert(response);
                          },
                          error: function(xhr) {
                            //Do Something to handle error
                          }
                        });
                  $.ajax({
                          url: "/administrator/",
                          success: function(response) {
                            $("#administrator_page").html(response);
                          },
                          error: function(xhr) {
                            //Do Something to handle error
                          }
                        });
        });

        $('#save_ssh_key_btn').click(function() {
        var ssh_key_id = $(this).val();
                 $.ajax({
                          url: "/administrator/ssh_key/"+ssh_key_id+"/create/",
                          type: "post",
                          data: {
                          path: $('#path').val(),
                          description: $('#description').val(),
                          csrfmiddlewaretoken: '{{ csrf_token }}'
                          },
                          success: function(response) {
                          show_alert(response);
                            $.ajax({
                          url: "/administrator/",
                          success: function(response) {
                            $("#administrator_page").html(response);
                          },
                          error: function(xhr) {
                            //Do Something to handle error
                          }
                        });
                           },
                          error: function(xhr) {
                            //Do Something to handle error
                          }
                        });

        });


</script>