<div class="panel panel-primary">
        <div class="panel-heading">Add JMeter:</div>
        <div class="panel-body">
            <div class="form-group">
                <label for="name">Profile name: </label>
                <input type="text" class="form-control" id="name" value="{{ jd.dest }}">
            </div>
            <div class="form-group">
                <label for="path">Jmeter destination: </label>
                <input type="text" class="form-control" id="path" value="{{ jd.dest }}">
            </div>
            <div class="form-group">
                <label for="version">Version: </label>
                <input type="text" class="form-control" id="version" value="{{ jd.version }}">
            </div>
            <div class="form-group">
                <label for="jvm_args_main">JVM-settings for main JMeter Instance: </label>
                <input type="text" class="form-control" id="jvm_args_main" value="{{ jd.jvm_args_main }}">
            </div>
            <div class="form-group">
                <label for="jvm_args_jris">JVM-settings for JMeter Remote Instances: </label>
                <input type="text" class="form-control" id="jvm_args_jris" value="{{ jd.jvm_args_jris }}">
            </div>
            <hr/>
            <button id="save_jd_btn" value="{{ jd.id }}" class="btn btn-success btn-small">Save </button>
            <button id="return_btn" value="{{ jd.id }}" class="btn btn-danger btn-small"><i class="icon-white icon-chevron-left"></i> Return</button>
        </div>
</div>

<script>
    $('#return_btn').click(function() {
        var jd_id = $(this).val();
             $.ajax({
                          url: "/administrator/jd/"+jd_id+"/delete/",
                          success: function(response) {
                            show_alert(response);
                          },
                          error: function(xhr) {
                            //Do Something to handle error
                          }
                        });
                  $.ajax({
                          url: "/administrator/",
                          success: function(response) {
                            $("#administrator_page").html(response);
                          },
                          error: function(xhr) {
                            //Do Something to handle error
                          }
                        });
        });

        $('#save_jd_btn').click(function() {
        var jd_id = $(this).val();
                 $.ajax({
                          url: "/administrator/jd/"+jd_id+"/create/",
                          type: "post",
                          data: {
                          name: $('#name').val(),
                          path: $('#path').val(),
                          version: $('#version').val(),
                          jvm_args_main: $('#jvm_args_main').val(),
                          jvm_args_jris: $('#jvm_args_jris').val(),
                          csrfmiddlewaretoken: '{{ csrf_token }}'
                          },
                          success: function(response) {
                          show_alert(response);
                            $.ajax({
                          url: "/administrator/",
                          success: function(response) {
                            $("#administrator_page").html(response);
                          },
                          error: function(xhr) {
                            //Do Something to handle error
                          }
                        });
                           },
                          error: function(xhr) {
                            //Do Something to handle error
                          }
                        });

        });


</script>