Django~=4.2
matplotlib
numpy
pandas
paramiko
psutil
scipy
psycopg2-binary
djangorestframework
git+https://github.com/innogames/serveradmin.git@main
git+ssh://git@gitlab.innogames.de/sysadmins/igrestlogin.git
netaddr
