Django~=5.2
djangorestframework~=3.16
django-cors-headers~=4.7
drf-spectacular~=0.28
numpy
pandas
paramiko
scipy
psycopg2-binary
git+https://github.com/innogames/serveradmin.git@main
git+ssh://git@gitlab.innogames.de/sysadmins/igrestlogin.git
