<div class="form-group">
    <label for="port_new">Port:</label>
    <input type="text" class="form-control" id="port_new" value="8888">
</div>
<div class="form-group">
    <label for="destination_new">destination:</label>
    <input type="text" class="form-control" id="destination_new" value="destination.com">
</div>
<div class="form-group">
    <label for="delay_new">delay:</label>
    <input type="text" class="form-control" id="delay_new" value="0">
</div>
<button id="add_proxy_button" value="" class="btn btn-primary">Add proxy</button>
<hr/>

<script>

        $('#add_proxy_button').click(function() {
                 $.ajax({
                          url: "/controller/proxy/new_proxy/add/",
                          type: "post",
                          data: {
                          port: $('#port_new').val(),
                          destination: $('#destination_new').val(),
                          delay: $('#delay_new').val(),
                          csrfmiddlewaretoken: '{{ csrf_token }}'
                          },
                          success: function(response) {
                           refreshController();
                           },
                          error: function(xhr) {
                            //Do Something to handle error
                          }
                        });
        });
</script>