{% for v in script_parameters %}
    <div class="row">
        <div class="col-md-10">
    <div class="form-group">
        <label for="{{ v.p_name }}">{{ v.p_name }}</label>
        <input type="text" class="form-control script_params" id="{{ v.p_name }}" value="{{ v.value }}">
    </div>
        </div>
        <div class="col-md-1">
            <button id="del_script_param_btn_{{ v.id }}" value="{{ v.id }}" type="button" class="btn btn-xs icon-button del_script_param_btn">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
        </div>
    </div>
{% endfor %}



<script>

 $('.del_script_param_btn').click(function() {
         var param_id = $(this).val();
                         $.ajax({
                          url: "/controller/project/{{ project.id }}/script_params/"+param_id+"/delete/",
                          ttype: "get",
                          success: function(response) {
                          getScriptParamsHTML();
                          },
                          error: function(xhr) {
                            //Do Something to handle error
                          }
                        });
});



</script>