<hr/>
<h3>Configure test: {{ project.project_name }}</h3>
<hr/>
<div class="row">
<div class="col-xs-3">
    <div class="panel panel-primary">
        <div class="panel-heading">JMeter test-plan parameters:</div>
        <div class="panel-body">
        <div id="jmeter_params"></div>
        <div id="new_jmeter_param"></div>
        <button id="add_jmeter_param_btn" value="{{ project.id }}" type="button" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
        </button>
        </div>
    </div>
</div>
    <div class="col-xs-5">
        <div class="panel panel-primary">
            <div class="panel-heading">Configure test:</div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="test_display_name">Test name:</label>
                    <input type="text" class="form-control" id="test_display_name" value="{{ project.project_name }}">
                </div>
                <div class="form-group">
                    <label for="select_jmeter_profile">JMeter profile:</label>
                    <select name="select_jmeter_profile" id="select_jmeter_profile" class="selectpicker">
                        {% for jp in jmeter_profiles %}
                        <option value="{{ jp.id }}">{{ jp.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="test_plan_destination">Test-plan destination</label>
                    <input type="text" class="form-control" id="test_plan_destination" value="{{ project.test_plan_destination }}">
                </div>
                <hr/>
                <button id="start_test_button" value="{{ project.id }}" class="btn btn-success btn-small">Start test</button>
                <button id="configure_test_return_button" class="btn btn-danger btn-small"><i class="icon-white icon-chevron-left"></i> Return</button>

            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="panel panel-primary">
            <div class="panel-heading">Remote Jmeter Instances</div>
            <div class="panel-body">
                <div id="jris"></div>
                <div id="new_jri"></div>
                <button id="add_jri_btn" value="{{ project.id }}" type="button" class="btn btn-default btn-lg">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
                </button>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Additional scripts</div>
            <div class="panel-body">
        <label for="script_pre_configure">Execute pre-test script:</label>
        <div class="text-right">
            <button id="script_pre_configure" value="{{ project.id }}" class="btn btn-default btn-small" onclick="return popitup('/controller/project/{{ project.id }}/script_pre_configure/')">Configure</button>
        </div>
        <hr/>

        <label for="script_post_configure">Execute post-test script:</label>
        <div class="text-right">
            <button id="script_post_configure" value="{{ project.id }}" class="btn btn-default btn-small" onclick="return popitup('/controller/project/{{ project.id }}/script_post_configure/')">Configure</button>
            </div>
             <hr/>
                <h4>Script variables</h4>
                <div id="script_params"></div>
                <div id="new_script_param"></div>
                <button id="add_script_param_btn" value="{{ project.id }}" type="button" class="btn btn-default btn-lg">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
                </button>

            </div>
        </div>
    </div>
</div>
<script>
$('#select_jmeter_profile').selectpicker('refresh');
function getJRIs()
{

$.ajax({
                  url: "/controller/project/{{ project.id }}/jri/list/",
                  type: "get",
                  success: function(response) {
                    $("#jris").empty();
                    $("#new_jri").empty();
                    $("#jris").html(response);
                  },
                  error: function(xhr) {
                    //Do Something to handle error
                  }
                });
}

function getJMeterParamsHTML()
{
$.ajax({
                  url: "/controller/project/{{ project.id }}/jmeter_params/list/",
                  type: "get",
                  success: function(response) {
                    $("#jmeter_params").empty();
                    $("#new_jmeter_param").empty();
                    $("#jmeter_params").html(response);
                  },
                  error: function(xhr) {
                    //Do Something to handle error
                  }
                });


}

function getScriptParamsHTML()
{
$.ajax({
                  url: "/controller/project/{{ project.id }}/script_params/list/",
                  type: "get",
                  success: function(response) {
                    $("#script_params").empty();
                    $("#new_script_param").empty();
                    $("#script_params").html(response);
                  },
                  error: function(xhr) {
                    //Do Something to handle error
                  }
                });


}

function getJMeterParams() {
jsonObj = [];
$('input[class="form-control jmeter_params"]').each(function() {
var p_name = $(this).attr("id");
var p_value = $(this).val();

item = {}
item ["p_name"] = p_name;
item ["value"] = p_value;
item ["comment"] = "";
jsonObj.push(item);
});
jsonString = JSON.stringify(jsonObj);
return jsonString;
}

getJRIs();
getJMeterParamsHTML();
getScriptParamsHTML();

$('#add_jri_btn').click(function() {
          $.ajax({
                  url: "/controller/project/{{ project.id }}/new_jri/",
                  type: "get",
                  success: function(response) {
                    $("#new_jri").html(response);
                  },
                  error: function(xhr) {
                    //Do Something to handle error
                  }
                });
});

$('#add_jmeter_param_btn').click(function() {
          $.ajax({
                  url: "/controller/project/{{ project.id }}/new_jmeter_param/",
                  type: "get",
                  success: function(response) {
                    $("#new_jmeter_param").html(response);
                  },
                  error: function(xhr) {
                    //Do Something to handle error
                  }
                });
});


$('#add_script_param_btn').click(function() {
          $.ajax({
                  url: "/controller/project/{{ project.id }}/new_script_param/",
                  type: "get",
                  success: function(response) {
                    $("#new_script_param").html(response);
                  },
                  error: function(xhr) {
                    //Do Something to handle error
                  }
                });
});


$('#configure_test_return_button').click(function() {
          $.ajax({
                  url: "/controller",
                  success: function(response) {
                    $("#controller_page").html(response);
                  },
                  error: function(xhr) {
                    //Do Something to handle error
                  }
                });
});

$('#start_test_button').click(function() {
var project_id = $(this).val();
console.log("Start test for project_id:"+project_id);
          $.ajax({
                  url: "/controller/project/"+project_id+"/start_test/",
                  type: "post",
                  data: {
                  jmeter_profile_id: $('#select_jmeter_profile').val(),
                  test_plan_destination: $('#test_plan_destination').val(),
                  test_display_name: $('#test_display_name').val(),
                  csrfmiddlewaretoken: '{{ csrf_token }}'
                  },
                  success: function(response) {
                      show_alert(response);
                    },
                  error: function(xhr) {
                    //Do Something to handle error
                  }
                });

          $.ajax({
                  url: "/controller",
                  success: function(response) {

                    $("#controller_page").html(response);
                  },
                  error: function(xhr) {
                    //Do Something to handle error
                  }
                });
});
</script>