<div class="row">
    <div class="col-md-4">
<div class="form-group">
    <label for="jmeter_param_name_new">Name:</label>
    <input type="text" class="form-control" id="jmeter_param_name_new" value="param_1">
</div>
</div>
<div class="col-md-4">
    <div class="form-group">
    <label for="jmeter_param_value_new">Value:</label>
    <input type="text" class="form-control" id="jmeter_param_value_new" value="value">
    </div>
    </div>
</div>

<button id="add_jmeter_param_button" value="{{ project_id }}" class="btn btn-primary">Add parameter</button>
<hr/>
<div id="new_jri"></div>
<script>
        $("#jmeter_param_name_new").keyup(function(event){
             if(event.keyCode == 13){
                 $("#add_jmeter_param_button").click();
             }
        });

        $('#add_jmeter_param_button').click(function() {
         var project_id = $(this).val();
                         $.ajax({
                          url: "/controller/project/"+project_id+"/jmeter_params/add/",
                          type: "post",
                          data: {
                          name: $('#jmeter_param_name_new').val(),
                          value: $('#jmeter_param_value_new').val(),
                          csrfmiddlewaretoken: '{{ csrf_token }}'
                          },
                          success: function(response) {
                           $('#add_jmeter_param_button').hide();
                           getJMeterParamsHTML();
                           },
                          error: function(xhr) {
                            //Do Something to handle error
                          }
                        });
        });
</script>