
<select name="select_test_1" id="select_test_1" class="selectpicker">
</select>
<button id="get_last_test_report_button" class="btn btn-success">Get report for the last test</button>
<button id="generate_project_confluence_report_btn" class="btn btn-success btn-small">
    <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Generate project report and post to Confluence</button> 
<div id="test_results"></div>

<script>
$('#select_test_1').selectpicker();
updateTestsSelectList('#select_test_1', '/analyzer/project/' + selected_project + "/tests_list/", "Select test", "display_name", "id");
$('#select_test_1').on('change', function(){
     test_id_1 = $(this).find("option:selected").val();
     console.log("Select test:" + test_id_1);
     $.ajax({
              url: '/analyzer/test/' + test_id_1 + "/report/",
              type: "get",
              success: function(response) {
                $("#test_results").html(response);
              },
              error: function(xhr) {
                //Do Something to handle error
              }
     });
			$.ajax({
                          url: '/analyzer/test/' + test_id_1 + '/prev_test_id/',
                          type: "get",
                          success: function(response) {
							test_2 = response;
							test_id_2 = test_2[0].id;
							$('#select_test_2').val(test_id_2);
							selectValueInList('#select_test_2', test_id_2);
                           },
                          error: function(xhr) {
							response = JSON.parse("{\"message\":{\"text\": \"Cannot fetch a previous test\",\"type\": \"warning\"}}")
                            show_alert(response);
                          }
            });
 });

 $('#get_last_test_report_button').click(function () {
  $.getJSON('/analyzer/project/' + selected_project + '/last_test/',
  function (json) {
    $('#select_test_1').val(json[0].id);
    $('#select_test_1').change();
    $('#select_test_1').selectpicker('refresh');
  });
});

$('#generate_project_confluence_report_btn').click(function() {
  $.ajax({
      url: '/analyzer/project/' + selected_project + '/generate_confluence_report/',
      type: "get",
      success: function(response) {
         show_alert(response);
       },
      error: function(xhr) {
      }
    });
});

</script>