

<hr/>
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                    <h3 class="panel-title">
                            Last tests:</h3>
                        <span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
                       </div>
            <div class="panel-body">
                {% if last_tests %}
                <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Project</th>
                            <th>Test name</th>
                            <th>Success requests</th>
                            <th>Avg. response times</th>
                            <th>Result</th>
                        </tr>
                    </thead>
                    {% for row in last_tests %}
                    <tr>

                            <td>
                                {{ row.project_name }}
                            </td>
                            <td>
                                <b><a href=""  onclick="testReport({{ row.id }})">{{  row.display_name }}</a></b>
                            </td>
                            <td>
                                    {% if row.success_requests > 98 %}
                                     <font color="green"><b>{{ row.success_requests|floatformat }} % </b></font>
                                    {% else  %}
                                    <font color="red"><b>{{ row.success_requests|floatformat }} % </b></font>
                                    {% endif %}
                            </td>
                            <td>
                                    {% get_percentage_rel row.prev_test_avg_response_times row.test_avg_response_times as avg_diff %}
                                    {% get_percentage_abs row.prev_test_avg_response_times row.test_avg_response_times as avg_diff_abs %}
                                    
                                    {{ row.test_avg_response_times|floatformat }} ms  {% if avg_diff < 0 %}<font color="green"></0>(<span>&#8595;</span> {{ avg_diff_abs }} %) </font> {% elif avg_diff_abs >= 0 %} <font color="red"></0>(<span>&#8593;</span> {{ avg_diff }} %) </font>  {% endif %}
                            </td>
                            <td>
                               <span class="badge alert-{{ row.result }}">{{ row.result }}</span>

                            </td>

                    </tr>
                    {% endfor %}
                </table>
                </div>
                {% else %}
                    <b>No data</b>
                {% endif %}

            </div>
        </div>
 
    </div>


</div>
<div class="row">
        <div class="col-xs-3">
                <div class="panel panel-default">
                        <div class="panel-heading">
                                <h3 class="panel-title">
                                        Running tests:</h3>
                                    <span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
                                 
                            </div>
                        <div class="panel-body">
                            <div id="online_tests_list"></div>
                        </div>
                    </div>
        </div>
        <div class="col-xs-3">
                <div class="panel panel-default">
                        <div class="panel-heading">
                                <h3 class="panel-title">
                                        Active load generators</h3>
                                    <span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
                                 
                           </div>
                        <div class="panel-body">
                            <div id="load_generators_list"></div>
                        </div>
                    </div>
        </div>
     
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
                <div class="panel-heading">
                        <h3 class="panel-title">
                               Graphs:</h3>
                            <span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
                         
                    </div>
        <div class="panel-body">

            <!-- <button id="generate_overall_report_btn" class="btn btn-success btn-small">
                <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Generate overall report and post to Confluence</button> -->
            <hr/>
            {% for project in projects_list %}
            {% if project.show == True %}
            <div id="overall_{{ project.id }}"></div>
            <script>
            overall_graph_{{ project.id }} = c3.generate({
            size: {
            height: 200,
            },
            data: {
            url:  '/analyzer/project/{{ project.id }}/project_history/',
            mimeType: 'json',
            keys: {
            x: 'test_name',
            value: ['Average', 'Median'],
            },
            type: 'bar',

            },
            axis: {
            x: {
            type: 'category',
            },
            y: {
            max: 500,
            padding: {
            top: 0,
            bottom: 0
            },
            label: 'response times (ms)',
            },
            },
            title: {
                text: '{{ project.project_name }}'
            },
            zoom: {
            enabled: true
            },
            legend: {
            position: 'right'
            },
            bindto: '#overall_{{ project.id }}'
            });
            </script>
            {% endif %}
            {% endfor %}
        </div>
        </div>
    </div>
</div>

<script>
        $('#generate_overall_report_btn').click(function() {
                      $.ajax({
                          url: "/analyzer/generate_overall_report",
                          type: "get",
                          success: function(response) {
                             show_alert(response);
                           },
                          error: function(xhr) {
                          }
                        });
        });
     //temporally commented

     /* $.getJSON('/online/tests_list',
            function(json) {
                $("#online_tests_list").empty();
                $.each(json, function(i, obj) {
                var file_dest = obj['result_file_dist'];
                $("#online_tests_list").append('<ul class="list-group"><li class="list-group-item">'+file_dest+'</li></ul>');
                });

            });*/
    /*setInterval(function() {

            $.getJSON('/online/tests_list',
            function(json) {
                $("#online_tests_list").empty();
                $.each(json, function(i, obj) {
                 var file_dest = obj['result_file_dist'];
                $("#online_tests_list").append('<ul class="list-group"><li class="list-group-item">'+file_dest+'</li></ul>');
                });

            });

    }, 10000);*/

</script>