<head>
    <meta charset="UTF-8">
    <title>URL report</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/c3.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/theme.bootstrap_2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/my.css' %}" />
</head>

<body>
<div class="panel panel-primary">
    <div class="panel-heading">Change test data</div>
    <div class="panel-body">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Test ID</th>
                <th>Jenkins build #</th>
                <th>Test name (click to edit)</th>
                <th>Show ?</th>
            </tr>
            </thead>
            {% for test in tests_list %}
            <tr>
                <td>
                    {{ test.id }}
                </td>
                <td>
                    {{ test.build_number }}
                </td>
                <td>
                    <label class="editable_label pull-left">{% if test.display_name != "" %}{{ test.display_name }}{% else %}Empty{% endif %}</label>
                    <input id={{ test.id }} class="clickedit" name="display_name" type="text" />
                    <div class="clearfix"></div>
                </td>
                <td>
                    <input id="show_{{ test.id }}" type="checkbox" value="{{ test.id }}" name="show" {% if test.show %}checked{% endif %}>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

</body>
<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script>
    var edit_test_id = 0;
    $("input[type=checkbox]").on("change", function() {
        show = this.checked;
        edit_test_id = this.value;
        $.ajax({
            url: "/analyzer/test/" + edit_test_id + "/change/",
            type: "post",
            data: {
                show: show,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(response) {

            },
            error: function(xhr) {
                //Do Something to handle error
            }
        });
    });
</script>