{% load static %}
<hr/>
<article id="tabs_test_results" class="tabs">
    <ul>
        <li><a href='#overview_tab'>Overview</a></li>
        <li><a href='#aggregate_table_tab'>Aggregate table</a></li>
        <li><a href='#rtot_graphs_tab'>Response times graphs</a></li>
        <li><a href='#monitoring_graphs_tab'>Monitoring graphs</a></li>
        <li><a href='#composite_graph_tab'>Composite analysis graph</a></li>
    </ul>
    <div id="overview_tab">
        <div class="panel panel-default">
            <div class="panel-body" style="padding-top: 0px">
                <div class="page-header">
                    <h3 style="color:grey;">
                        <div class="editable_label">{% if test.display_name != "" %}{{ test.display_name }}{% else %}Empty{% endif %}</div>
                        <input id="{{ test.id }}" name="display_name" class="clickedit" type="text" />
                        <div class="clearfix"></div>
                    </h3>
                    <h4 style="color:grey;">
                        <div class="editable_label">{% if test.description  %}{{ test.description }}{% else %}No description{% endif %}</div>
                        <input id="{{ test.id }}" name="description" class="clickedit" type="text" />
                        <div class="clearfix"></div>
                    </h4>
                </div>
                <h3 class="page-header">Requests statistic <small>for the current test</small></h3>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div id="errors_graph"></div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="panel panel-danger">
                                            <div class="panel-heading">Top failed actions</div>
                                            <div class="panel-body">
                                                <div id="top_errors_list"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <select name="top_actions_select" id="top_actions_select" class="selectpicker">
                                    <option selected value=5>5</option>
                                    <option value=10>10</option>
                                    <option value=20>20</option>
                                    <option value=9999>All</option>
                                </select>
                                <div id="top_avg_graph"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <h3 class="page-header">Comparison of average response times and CPU utilization (%) <small>with a previous tests</small></h3>
                <div class="row">
                        <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-6">
                                <select name="number_of_tests" id="number_of_tests" class="selectpicker">
                                    <option selected value=1>1 (the last one)</option>
                                    <option value=5>5</option>
                                    <option value=10>10</option>
                                    <option value=9999>All</option>
                                </select>
                                <div class="btn-group" id="compare_avg_switcher" data-toggle="buttons">
                                    <button type="button" class="btn active" value='default'>Default</button>
                                    <button type="button" class="btn" value='graphite'>Graphite (Gentime)</button>
                            </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div id="compare_avg_graph"></div>
                                </div>
                                <div class="col-xs-6">
                                    <div id="compare_cpu_graph"></div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                        <div class="col-xs-12">
                <h3 class="page-header">Compare report
                    <small>against one of the tests</small>
                </h3>
                <select name="select_test_2" id="select_test_2" class="selectpicker">
                </select>
                <button id="get_previous_test_button" class="btn btn-success">Previous</button>
                <div id="test_compare_results"></div>
                </div>
            </div>
    </div>
</div>
</div>
<div id="aggregate_table_tab">
    <div class="panel panel-default">
        <div class="panel-heading">Detailed aggregated table for test: {{test.display_name}}</div>
        <div class="panel-body">
            <table id="aggregate_table" class="tablesorter">
                <thead>
                    <tr>
                        <th>Action</th>
                        {% for key in aggregate_table.0.data %} {% if key != "action_id" %}
                        <th> {{ key }} </th>
                        {% endif %} {% endfor %}
                    </tr>
                </thead>
                {% for row in aggregate_table %}
                <tr>
                    <td><b><a href='/analyzer/test/{{ test.id }}/{{ row.action_id }}/action_report' onclick="return popitup('/analyzer/test/{{ test.id }}/{{ row.action_id }}/action_report')">{{ row.url }}</a></b></td>
                    {% for name, value in row.data.items %}
                        {% if name == "errors" %}
                            {% get_percentage value v.count as errors_percentage %}
                                {% if errors_percentage > 3 and errors_percentage < 10 %}
                <td>  <font color="#ff9933"><b>{{ errors_percentage }} % </b></font>({{ value|floatformat }}) </td>
                                {% elif errors_percentage >= 10 %}
                <td>  <font color="red"><b>{{ errors_percentage }} % </b></font>({{ value|floatformat }}) </td>
                                {% else %}
                                <td> {{ errors_percentage }} % ({{ value|floatformat }}) </td>
                                {% endif %}
                        {% else %}
                        <td> {{ value|floatformat }} </td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
<div id="rtot_graphs_tab">
    <h3 class="page-header">Response times <small>during the test</small></h3>
    <div class="btn-group" id="rtot_switcher" data-toggle="buttons">
            <button type="button" class="btn active" value='default'>Default</button>
            <button type="button" class="btn" value='graphite'>Graphite</button>
    </div>
    <select name="select_data_resolution" id="select_data_resolution" class="selectpicker"/>
    <hr/>
    <div class="row">
        <div id="test_rtot_graph"></div>
    </div>
    <hr/>
    <button id="get_action_graphs_btn" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span> Get graphs for all actions
    </button>
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <div id="action_graphs"></div>
        </div>
    </div>
</div>
<div id="monitoring_graphs_tab">
    <h3 class="page-header">Monitoring data <small>server`s metrics during the test</small></h3>
    <div class="btn-group" id="monitoring_switcher" data-toggle="buttons">
        <button type="button" class="btn active" value='default'>Default</button>
        <button type="button" class="btn" value='graphite'>Graphite</button>
    </div>
    <select name="select_server_1" id="select_server_1" class="selectpicker">
    </select>
    <select name="select_monitoring_metric_1" id="select_monitoring_metric_1" class="selectpicker">
    </select>
    <hr/>
    <div id="test_monitoring_graph"></div>
</div>
<div id="composite_graph_tab">
    <div id="composite"></div>
</div>
</article>

<script>
updateSelectList('#select_data_resolution', "/analyzer/data_resolutions_list", "Data resolution", "frequency", "id");
var edit_test_id = 0;

function beginEdit(e) {
    var input = $(e.target);
    input.val(input.prev().text());
}

function endEdit(e) {
    var input = $(e.target),
        label = input && input.prev();
    label.text(input.val() === '' ? 'Empty' : input.val());
    var edit_val = input.val();
    var edit_entity_id = input.attr('id');
    var edit_param = input.attr('name');
    $.ajax({
        url: "/analyzer/test/" + edit_entity_id + "/change/",
        type: "post",
        data: {
            edit_param: edit_param,
            edit_val: edit_val,
            csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function(response) {
            input.hide();
            label.show();
        },
        error: function(xhr) {
            //Do Something to handle error
        }
    });

}

$('.clickedit').hide()
    .focusout(endEdit)
    .keyup(function(e) {
        if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
            endEdit(e);
            return false;
        } else {
            return true;
        }
    }).focus(beginEdit)
    .prev().click(function() {
        $(this).hide();
        $(this).next().show().focus();
    });

num_of_tests_to_compare = 5;
top_actions = 5;
var monitoring_source, rtot_source, compare_source = 'default';
$('#monitoring_switcher button').click(function() {
    $(this).addClass('active').siblings().removeClass('active');
    monitoring_source = $(this).val();
    if (monitoring_source == 'graphite') {
        $.ajax({
            url: "/analyzer/test/" + test_id_1 + "/check_graphite_data/",
            type: "get",
            beforeSend: function() {
                $('.ajax-loader').css("visibility", "visible");
            },
            success: function(response) {
                updateSelectList('#select_server_1', '/analyzer/test/' + monitoring_source + '/' + test_id_1 + '/servers/', "Select server", "server_name", "id");
                show_alert(response);
            },
            complete: function() {
                $('.ajax-loader').css("visibility", "hidden");
            },
            error: function(xhr) {
                //Do Something to handle error
            }
        });
    } else {
        updateSelectList('#select_server_1', '/analyzer/test/' + monitoring_source + '/' + test_id_1 + '/servers/', "Select server", "server_name", "id");
    }
});

$('#rtot_switcher button').click(function() {
    $(this).addClass('active').siblings().removeClass('active');
    rtot_source = $(this).val();
    var data_resolution_id = $("#select_data_resolution").find("option:selected").val();
    if (rtot_source == 'graphite') {
        $.ajax({
            url: "/analyzer/test/" + test_id_1 + "/check_graphite_data/",
            type: "get",
            beforeSend: function() {
                $('.ajax-loader').css("visibility", "visible");
            },
            success: function(response) {
                show_alert(response);
                draw_rtot_graph(test_id_1, rtot_source, data_resolution_id);
            },
            complete: function() {
                $('.ajax-loader').css("visibility", "hidden");
            },
            error: function(xhr) {
                //Do Something to handle error
            }
        });
    } else {
        $('.ajax-loader').css("visibility", "visible");
        draw_rtot_graph(test_id_1, rtot_source, data_resolution_id);
        $('.ajax-loader').css("visibility", "hidden");
    }
});

$("#tabs_test_results").tabs();
$("#number_of_tests").selectpicker('val', num_of_tests_to_compare);
$("#top_actions_select").selectpicker('val', top_actions);
update_compare_graphs(num_of_tests_to_compare);
draw_top_avg_graph(top_actions);
updateTables();
updateSelectList('#select_server_1', '/analyzer/test/' + monitoring_source + '/' + test_id_1 + '/servers/', "Select server", "server_name", "id");
updateSelectList('#select_test_2', '/analyzer/project/' + selected_project + "/tests_list/", "Select 2nd test", "display_name", "id");
$("#aggregate_table").tablesorter();
$("#aggregate_table").trigger('tsUpdate');
var draw_monitoring_graph = function draw_monitoring_graph(test_id, server, metric, source) {
    var unit = "";
    var max_y = 0;
    var max_metric_value = 0;
    $.ajax({
        url: '/analyzer/test/' + test_id + '/' + server + '/' + metric + '/max_value/',
        type: "get",
        success: function(response) {
            max_metric_value = response.max_value;
            if (metric.indexOf("CPU") > -1) {
                unit = " %";
                max_y = Math.round(max_metric_value);
            } else if (metric.indexOf("Memory") > -1) {
                max_y = Math.round(max_metric_value + max_metric_value * 0.1);
                unit = " Mb";
            } else {
                max_y = Math.round(max_metric_value + max_metric_value * 0.1);
            }

            $.ajax({
                url: "/analyzer/test/" + test_id + "/get_server_monitoring_data/",
                type: "post",
                data: {
                    server_id: server,
                    metric: metric,
                    source: source,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(response) {
                    monitoring_graph = c3.generate({
                        data: {
                            json: response,
                            type: 'line',
                            keys: {
                                x: 'timestamp',
                                value: [metric],
                            },
                            xFormat: '%H:%M:%S',
                        },
                        axis: {
                            x: {
                                type: 'timeseries',
                                tick: {
                                    format: '%H:%M:%S'
                                }
                            },
                            y: {
                                max: max_y,
                                min: 0,
                                padding: {
                                    top: 0,
                                    bottom: 0
                                },
                                label: metric + " (" + unit + ")",
                            },
                        },
                        title: {
                            text: metric + ' on ' + server
                        },
                        bindto: '#test_monitoring_graph'
                    });
                },
                error: function(xhr) {
                    //Do Something to handle error
                }
            });
        },
        error: function(xhr) {
            show_alert(response);
        }
    });
}
// COMPOSITE GRAPH
$.ajax({
    url: '/analyzer/project/' + selected_project + '/composite/',
    type: "get",
    success: function(response) {
        $("#composite").empty();
        $("#composite").append(response);
    },
    error: function(xhr) {
        show_alert(response);
    }
});
var draw_rtot_graph = function draw_rtot_graph(test_id, source, data_resolution_id) {
    $.ajax({
        url: "/analyzer/test/" + test_id + "/get_test_rtot_data/",
        type: "post",
        data: {
            source: source,
            data_resolution_id: data_resolution_id,
            csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function(response) {
            var test_rtot_graph = c3.generate({
                data: {
                    json: response,
                    type: 'line',
                    keys: {
                        x: 'timestamp',
                        value: ['average', 'median', 'rps'],
                    },
                    xFormat: '%H:%M:%S',
                    axes: {
                        rps: 'y2'
                    },
                },
                zoom: {
                    enabled: true
                },
                axis: {
                    x: {
                        type: 'timeseries',
                        tick: {
                            format: '%H:%M:%S'
                        }
                    },
                    y: {
                        min: 0,
                        padding: {
                            top: 0,
                            bottom: 0
                        },
                        label: 'response times (ms)',
                    },
                    y2: {
                        min: 0,
                        show: true,
                        padding: {
                            top: 0,
                            bottom: 0
                        },
                        label: 'Requests/s',
                    }

                },
                bindto: '#test_rtot_graph'
            });
        },
        error: function(xhr) {
            //Do Something to handle error
        }
    });
}

function update_compare_graphs(num_of_tests_to_compare) {
    var test = JSON.parse(httpGet('/analyzer/project/' + test_id_1 + '/test_info/'));
    draw_compare_avg_graph(test_id_1, num_of_tests_to_compare, compare_source);
    var arr = [];
    var graph_values = []; //values for the graph

    $.ajax({
        url: '/analyzer/test/' + test_id_1 + '/' + num_of_tests_to_compare + '/compare_cpu',
        type: "get",
        success: function(response) {
            var r = response;
            var json_compare_cpu = JSON.parse(r);
            for (var test_name in json_compare_cpu) {
                for (server_name in json_compare_cpu[test_name]) {
                    if ($.inArray(server_name, graph_values) < 0) {
                        graph_values.push(server_name);
                    }
                }
                json_compare_cpu[test_name].display_name = test_name;
                arr.push(json_compare_cpu[test_name]);
                var new_json = JSON.stringify(arr.reverse());
                new_json = JSON.parse(new_json);
                var compare_cpu_graph = c3.generate({
                    data: {
                        json: new_json,
                        keys: {
                            x: 'display_name',
                            value: graph_values
                        },
                        type: 'bar',

                    },
                    axis: {
                        x: {
                            type: 'category'
                        },
                        y: {
                            padding: {
                                top: 0,
                                bottom: 0
                            },
                            label: '%',
                            max: 100,
                            min: 0,
                        }
                    },

                    grid: {
                        x: {
                            lines: [{
                                value: test[0].display_name,
                                text: 'Current test',
                                position: 'end'
                            }]
                        }
                    },
                    regions: [{
                        axis: 'x',
                        start: 0.5,
                        class: 'regionX'
                    }, ],
                    //regions: [
                    //{axis: 'x', start: 0,  class: 'regionX'},
                    //],
                    title: {
                        text: 'Comparison of average CPU load (%)'
                    },
                    bindto: '#compare_cpu_graph'
                });

            }
        },
        error: function(xhr) {
            response = JSON.parse("{\"message\":{\"text\": \"Cannot fetch compare CPU data\",\"type\": \"danger\"}}")
            show_alert(response);
        }
    });



    var errors_graph = c3.generate({
        data: {
            url: '/analyzer/test/' + test_id_1 + '/errors',
            mimeType: 'json',
            type: 'donut',
            keys: {
                value: ['fail_%', 'success_%']
            },
            colors: {
                'success_%': '#A1DF6F',
                'fail_%': '#DF6F80'
            },
            onclick: function(d, i) {
            },
            onmouseover: function(d, i) {
            },
            onmouseout: function(d, i) {
            }
        },

        donut: {
            title: "Successful requests (%)"
        },
        bindto: '#errors_graph'
    });

    $.getJSON('/analyzer/test/' + test_id_1 + '/top_errors/',
        function(json) {
            $("#top_errors_list").empty();
            $.each(json, function(i, obj) {
                url = '/analyzer/test/' + test_id_1 + '/' + obj.action_id + '/action_report';
                //cuz in database 100% is null >_<
                var actionErrors = (obj.errors == null) ? 100 : obj.errors;
                $("#top_errors_list").append('<ul class="list-group"><li class="list-group-item"><span class="badge alert-danger">' + actionErrors + ' %</span><div style="word-wrap:break-word;"><b><a href="/analyzer/test/' + test_id_1 + '/' + obj.action_id + '/action_report" onclick="return popitup(\'/analyzer/test/' + test_id_1 + "/" + obj.action_id + '/action_report\')">' + obj.url + '</a></b></div></li></ul>');
            });

        });

}

$('#compare_avg_switcher button').click(function() {
    $(this).addClass('active').siblings().removeClass('active');
    compare_source = $(this).val();
    if (compare_source == 'graphite') {
        $.ajax({
            url: "/analyzer/test/" + test_id_1 + "/check_graphite_data/",
            type: "get",
            beforeSend: function() {
                $('.ajax-loader').css("visibility", "visible");
            },
            success: function(response) {
                show_alert(response);
                draw_compare_avg_graph(test_id_1, num_of_tests_to_compare, compare_source);
            },
            complete: function() {
                $('.ajax-loader').css("visibility", "hidden");
            },
            error: function(xhr) {
                //Do Something to handle error
            }
        });
    } else {
        draw_compare_avg_graph(test_id_1, num_of_tests_to_compare, compare_source);
    }
});

function draw_compare_avg_graph(test_id, num_of_tests_to_compare, source) {
    var test = JSON.parse(httpGet('/analyzer/project/' + test_id_1 + '/test_info/'));
    $.ajax({
        url: "/analyzer/test/" + test_id + "/get_compare_data/",
        type: "post",
        data: {
            num_of_tests_to_compare: num_of_tests_to_compare,
            source: source,
            csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        beforeSend: function() {
            $('.ajax-loader').css("visibility", "visible");
        },
        success: function(response) {
            compare_avg_graph = c3.generate({
                data: {
                    json: response,
                    mimeType: 'json',
                    keys: {
                        x: 'display_name',
                        value: ['average', 'median'],
                    },
                    type: 'bar',

                },
                axis: {
                    x: {
                        type: 'category',
                    },
                    y: {
                        padding: {
                            top: 0,
                            bottom: 0
                        },
                        label: 'ms',
                        min: 0,
                    }
                },
                grid: {
                    x: {
                        lines: [{
                            value: test[0].display_name,
                            text: 'Current test',
                            position: 'end'
                        }]
                    }
                },
                regions: [{
                    axis: 'x',
                    start: 0.5,
                    class: 'regionX'
                }, ],
                title: {
                    text: 'Comparison of average and median response times'
                },
                bindto: '#compare_avg_graph'
            });
        },
        error: function(xhr) {
            show_alert(response);
        },
        complete: function() {
            $('.ajax-loader').css("visibility", "hidden");
        },
    });
}

function draw_top_avg_graph(top_N) {
    top_avg_graph = c3.generate({
        data: {
            url: '/analyzer/test/' + test_id_1 + '/' + top_N + '/top_avg',
            mimeType: 'json',
            keys: {
                x: 'url',
                value: ['average']
            },
            type: 'bar',

        },
        axis: {
            x: {
                type: 'category'
            },
            y: {
                padding: {
                    top: 0,
                    bottom: 0
                },
                label: 'ms',
                min: 0,
            }
        },
        title: {
            text: 'Top ' + top_N + ' slowest actions'
        },
        regions: [{
            axis: 'y',
            start: 200,
            class: 'highRT'
        }, ],
        bindto: '#top_avg_graph'
    });
}

$('#select_server_1').on('change', function() {
    var server_id = $(this).find("option:selected").val();
    selected_server_for_monitoring_data = server_id;
    updateSelectList('#select_monitoring_metric_1', '/analyzer/test/' + monitoring_source + '/' + test_id_1 + '/' + server_id + '/monitoring_metrics/', "Select metric", "metric", "metric");
    if (selected_monitoring_metric == "") selected_monitoring_metric = "CPU_all";
    draw_monitoring_graph(test_id_1, selected_server_for_monitoring_data, selected_monitoring_metric, monitoring_source);
});

$('#select_monitoring_metric_1').on('change', function() {
    var monitoring_metric = $(this).find("option:selected").val();
    selected_monitoring_metric = monitoring_metric;
    draw_monitoring_graph(test_id_1, selected_server_for_monitoring_data, selected_monitoring_metric, monitoring_source);
});
$('#number_of_tests').on('change', function() {
    num_of_tests_to_compare = $(this).find("option:selected").val();
    update_compare_graphs(num_of_tests_to_compare);
});
$('#top_actions_select').on('change', function() {
    top_actions = $(this).find("option:selected").val();
    draw_top_avg_graph(top_actions);
});

$('#select_test_2').on('change', function() {
    test_id_2 = $(this).find("option:selected").val();
    $.ajax({
        url: '/analyzer/test/' + test_id_1 + '/' + test_id_2 + "/compare_report/",
        type: "get",
        success: function(response) {
            $("#test_compare_results").html(response);
        },
        error: function(xhr) {
            //Do Something to handle error
        }
    });
    $('#get_previous_test_button').click(function() {
        $.ajax({
            url: '/analyzer/test/' + test_id_1 + '/prev_test_id/',
            type: "get",
            success: function(response) {
                test_2 = response;
                test_id_2 = test_2[0].id;
                $('#select_test_2').val(test_id_2);
                selectValueInList('#select_test_2', test_id_2);
            },
            error: function(xhr) {
                response = JSON.parse("{\"message\":{\"text\": \"Cannot fetch a previous test\",\"type\": \"danger\"}}")
                show_alert(response);
            }
        });


    });
    $('#get_action_graphs_btn').click(function() {
        $.ajax({
            url: '/analyzer/test/' + test_id_1 + '/action_graphs/',
            type: "get",
            success: function(response) {
                $("#action_graphs").html(response);
            },
            error: function(xhr) {
                response = JSON.parse("{\"message\":{\"text\": \"Cannot generate action graphs\",\"type\": \"danger\"}}")
                show_alert(response);
            }
        });


    });
});
</script>