

div.scrollable_ {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

#load{
    width:100%;
    height:100%;
    position:fixed;
    z-index:9999;
    background:url("495.gif") no-repeat center center rgba(0,0,0,0.25)
}

.datagrid table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}
.scrollit {
    overflow: scroll;
    height: 300px;
}
.datagrid {
    font: normal 12px/150% Arial, Helvetica, sans-serif;
    background: #fff;
    overflow: hidden;
    border: 1px solid #36752D;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.datagrid table td,
.datagrid table th {
    padding: 3px 10px;
}
.datagrid table thead th {

    background-color: #4CC417;
    color: #FFFFFF;
    font-size: 12px;
}
.datagrid table thead th:first-child {
    border: none;
}
.datagrid table tbody td {

    font-size: 12px;
    font-weight: normal;
}
.datagrid table tbody .alt td {
    background: #DFFFDE;
    color: #275420;
}
.datagrid table tbody td:first-child {
    border-left: none;
}
.datagrid table tbody tr:last-child td {
    border-bottom: none;
}
.datagrid table tfoot td div {
    border-top: 1px solid #36752D;
    background: #DFFFDE;
}
.datagrid table tfoot td {
    padding: 0;
    font-size: 12px
}
.datagrid table tfoot td div {
    padding: 2px;
}
.datagrid table tfoot td ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
}
.datagrid table tfoot li {
    display: inline;
}
.datagrid table tfoot li a {
    text-decoration: none;
    display: inline-block;
    padding: 2px 8px;
    margin: 1px;
    color: #FFFFFF;
    border: 1px solid #36752D;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #36752D), color-stop(1, #275420));
    background: -moz-linear-gradient( center top, #36752D 5%, #275420 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#36752D', endColorstr='#275420');
    background-color: #36752D;
}
.datagrid table tfoot ul.active,
.datagrid table tfoot ul a:hover {
    text-decoration: none;
    border-color: #275420;
    color: #FFFFFF;
    background: none;
    background-color: #36752D;
}
div.dhtmlx_window_active,
div.dhx_modal_cover_dv {
    position: fixed !important;
}
#vert_menu {
    overflow: hidden;
    width: 100%;
}
#vert_menu li {
    float: left;
}
#vert_menu a {
    padding: 8px 20px 8px 40px;
    float: left;
    text-align: center;
    text-decoration: none;
    font: normal 16px Myriad Pro, Helvetica, Arial, sans-serif;
    text-shadow: 0px 1px 0px #000;
    color: #e6e2cf;
    position: relative;
    text-shadow: 1px 0 0 #000;
    background: #36752D;
    min-width: 181px;
    width: auto
}
#vert_menu a::after,
#vert_menu a::before {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -19px;
    border-top: 19px solid transparent;
    border-bottom: 19px solid transparent;
    border-left: 1em solid;
    right: -1em;
}
#vert_menu a::after {
    z-index: 2;
    border-left-color: #FFFFFF;
}
