{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Load Testing Center</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/c3.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/theme.bootstrap_4.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/theme.default.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/jltc.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="{% static 'js/c3.min.js' %}"></script>
    <script src="{% static 'js/tablesorter/jquery.tablesorter.min.js' %}"></script>
    <script src="{% static 'js/tablesorter/jquery.tablesorter.widgets.min.js' %}"></script>
    <script src="{% static 'js/jltc.js' %}"></script>
</head>
<body>
<!-- As a heading -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Load Testing Center</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            {% url 'jltc.index' as index %}
            {% url 'jltc.analyzer' as analyzer %}
            <li class="nav-item{% if request.get_full_path == index %} active{% endif %}">
                <a class="nav-link" href="{{ index }}">DASHBOARD</a>
            </li>
            <li class="nav-item{% if request.get_full_path == '/analyzer' %} active{% endif %}">
                <a class="nav-link" href="/analyzer">ANALYZER</a>
            </li>
            <li class="nav-item{% if request.get_full_path == '/admin' %} active{% endif %}">
                <a class="nav-link" href="/admin">ADMIN</a>
            </li>
        </ul>

    </div>
</nav>
<div class="container-fluid">
    {% block content %}{% endblock %}
</div>

{% block script %}{% endblock %}
</body>
</html>