<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">Online graph:</div>
        <div class="panel-body">
            <div id="online_graph">
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-xs-6 col-sm-4">
        <div class="panel panel-success">
            <div class="panel-heading">Successful requests rate</div>
            <div class="panel-body">
                <div id="online_successful_requests_percentage_graph"></div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4">
        <div class="panel panel-success">
            <div class="panel-heading">Requests/s (last minute)</div>
            <div class="panel-body">
                <div id="online_rps_graph"></div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4">
        <div class="panel panel-success">
            <div class="panel-heading">Response codes</div>
            <div class="panel-body">
                <div id="online_response_codes_graph"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">Aggregate table</div>
            <div class="panel-body">
                <div id="online_aggregate_table"></div>
            </div>
        </div>
</div>
<script>
    var online_graph = c3.generate({
        data: {
            url: '/online/' + running_test_id + '/rtot/',
            mimeType: 'json',
            keys: {
                x: 'time',
                value: ['average', 'rps', 'errors_count']
            },
            type: 'line',
            xFormat: '%Y-%m-%d %H:%M:%S',
            axes: {
                rps: 'y2',
                errors_count: 'y2',
            },
            colors: {
                'errors_count': 'red',
                'fail_%': '#DF6F80'
            },
        },
        axis: {
            x: {
                type: 'timeseries',
                tick: {
                    format: '%Y-%d-%m %H:%M'
                }
            },
            y: {
                padding: {
                    top: 0,
                    bottom: 0
                },
                label: 'Response times (ms)',
            },
            y2: {
                min: 0,
                show: true,
                padding: {
                    top: 0,
                    bottom: 0
                },
                label: 'Requests/s',
            }

        },
        bindto: '#online_graph'
    });
    var j1 = JSON.parse(httpGet('/online/' + running_test_id + '/success_rate/'));
    var online_successful_requests_percentage_graph = c3.generate({
        data: {
            columns: [
                ['Success_%', j1[0].success_percentage]
            ],
            type: 'gauge'
        },
        color: {
            pattern: ['#FF0000', '#F6C600', '#60B044'], // the three color levels for the percentage values.
            threshold: {
                //            unit: 'value', // percentage is default
                //            max: 200, // 100 is default
                values: [97, 99, 100]
            }
        },

        title: {
            text: 'Successful requests percentage (%)'
        },
        bindto: '#online_successful_requests_percentage_graph'
    });
    var j2 = JSON.parse(httpGet('/online/' + running_test_id + '/rps/'));

    var online_rps_graph = c3.generate({
        data: {
            columns: [
                ['rps', j2[0].rps]
            ],
            type: 'gauge',
        },
        gauge: {
            label: {
                format: function(value, ratio) {
                    return value;
                },
                show: true // to turn off the min/max labels.
            },
            min: 0, // 0 is default, //can handle negative min e.g. vacuum / voltage / current flow / rate of change
            max: 500, // 100 is default
            units: ' rps',
            //    width: 39 // for adjusting arc thickness
        },

        title: {
            text: 'Requests per second (average during the last minute)'
        },
        bindto: '#online_rps_graph'
    });

    var online_response_codes_graph = c3.generate({
        data: {
            url: '/online/' + running_test_id + '/response_codes/',
            mimeType: 'json',
            type: 'donut',
            keys: {
                x: 'response_code',
                value: ['count']
            },
        },
        donut: {
            title: "Response codes"
        },
        bindto: '#online_response_codes_graph'
    });

    setInterval(function() {
        update_data = httpGet('/online/' + running_test_id + '/update/');
        console.log(update_data);
        online_graph.load({
            url: '/online/' + running_test_id + '/rtot/',
            mimeType: 'json',
            keys: {
                x: 'time',
                value: ['average', 'rps', 'errors_count']
            },
        });
        var j1 = JSON.parse(httpGet('/online/' + running_test_id + '/success_rate/'));
        online_successful_requests_percentage_graph.load({
            columns: [
                ['Success_%', j1[0].success_percentage]
            ]
        });
        var j2 = JSON.parse(httpGet('/online/' + running_test_id + '/rps/'));
        online_rps_graph.load({
            columns: [
                ['rps', j2[0].rps]
            ]
        });

        var online_response_codes_graph = c3.generate({
        data: {
            url: '/online/' + running_test_id + '/response_codes/',
            mimeType: 'json',
            keys: {
                x: 'response_code',
                value: ['count']
            },
            }
            });
    var onlineAggregateTable = httpGet( '/online/' + running_test_id + '/aggregate/');
    document.getElementById("online_aggregate_table").innerHTML = onlineAggregateTable;

    }, 5000);
</script>