ul
{
    list-style-type: none;
}

.superlistnegative ul {
    list-style: none;
    padding:0;
    margin:0;
}

.superlistnegative li {
    text-indent: -.7em;
}

.superlistnegative li:before {
  content: "- ";
  color: red;
    /* use fonts like "arial" or use "sans-serif" to make the dot perfect round */
  font-family: Arial, sans-serif;
}

.superlistpositive ul {
    list-style: none;
    padding:0;
    margin:0;

}
.superlistpositive li {
    text-indent: -.7em;
}

.superlistpositive li:before {
  content: "+ ";
  color: green;
    /* use fonts like "arial" or use "sans-serif" to make the dot perfect round */
  font-family: Arial, sans-serif;
}

.ui-selectmenu-menu li a {
background: transparent;
    border: none;
    border-bottom: 1px solid #c0c0c0;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

/* стиль палок */
hr {
    margin-bottom: 5px;
    margin-top: 5px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}


#main_tabs > .ui-tabs-panel {
	padding: 0em;
}
#analyzer_tabs {
	position: relative;
	padding-left: 1.5em;
	background: transparent;
    border: none;
}
#analyzer_tabs .ui-tabs-nav {
    margin-left:1px;
    left:0px;
    position: absolute;
    width: 100vh;
    transform: translate(-100%,0%) rotate(-90deg);
    transform-origin: 100% 0%;
}
#analyzer_tabs .ui-tabs-nav li {
	float: right;
}
#analyzer_tabs .ui-tabs-nav li.ui-tabs-selected,
#analyzer_tabs .ui-tabs-nav li.ui-state-active {
	border-right: 1px solid transparent;
}
#analyzer_tabs .ui-tabs-nav li a {
	float: right;
	width: 100%;
	text-align: right;
}
#analyzer_tabs > div {
	height:100vh;
	overflow: auto;
}
#analyzer_tabs .ui-tabs-panel {
    left: 0px;
}
#analyzer_tabs .ui-tabs-panel {
    padding-top: 0px;
    height:100vh;
}

#analyzer_tabs .ui-tabs-panel .ui-corner-bottom .ui-widget-content {
    padding-top: 0px;
}
#analyzer_tabs .ui-tabs-nav .ui-state-default a {
    color: #c0c0c0;
}
#analyzer_tabs .ui-tabs-nav .ui-state-active a {
    color: #459e00;
}
#analyzer_tabs .ui-tabs-nav .ui-state-active {
    background: transparent url(images/uiTabsArrow.png) no-repeat bottom center;
    border: none;

}

#analyzer_tabs .ui-tabs-nav .ui-state-default {
    background: transparent;
    border: none;
}

#analyzer_tabs .ui-widget-header {
    background: transparent;
    border: none;
    border-bottom: 1px solid #c0c0c0;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

/* admin tabs */
#administrator_tabs {
	position: relative;
	padding-left: 1.5em;
	background: transparent;
    border: none;
}
#administrator_tabs .ui-tabs-nav {
    margin-left:1px;
    left:0px;
    position: absolute;
    width: 100vh;
    transform: translate(-100%,0%) rotate(-90deg);
    transform-origin: 100% 0%;
}
#administrator_tabs .ui-tabs-nav li {
	float: right;
}
#administrator_tabs .ui-tabs-nav li.ui-tabs-selected,
#administrator_tabs .ui-tabs-nav li.ui-state-active {
	border-right: 1px solid transparent;
}
#administrator_tabs .ui-tabs-nav li a {
	float: right;
	width: 100%;
	text-align: right;
}
#administrator_tabs > div {
	height:100vh;
	overflow: auto;
}
#administrator_tabs .ui-tabs-panel {
    left: 0px;
}
#administrator_tabs .ui-tabs-panel {
    padding-top: 0px;
    height:100vh;
}

#administrator_tabs .ui-tabs-panel .ui-corner-bottom .ui-widget-content {
    padding-top: 0px;
}
#administrator_tabs .ui-tabs-nav .ui-state-default a {
    color: #c0c0c0;
}
#administrator_tabs .ui-tabs-nav .ui-state-active a {
    color: #459e00;
}
#administrator_tabs .ui-tabs-nav .ui-state-active {
    background: transparent url(images/uiTabsArrow.png) no-repeat bottom center;
    border: none;

}

#administrator_tabs .ui-tabs-nav .ui-state-default {
    background: transparent;
    border: none;
}

#administrator_tabs .ui-widget-header {
    background: transparent;
    border: none;
    border-bottom: 1px solid #c0c0c0;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

/* табы от тест резальтов */
#tabs_test_results .ui-tabs-nav {
    margin-left:1px;
    left:0px;
    position: absolute;
    width: 100vh;
    transform: translate(-100%,0%) rotate(-90deg);
    transform-origin: 100% 0%;
}
#tabs_test_results .ui-tabs-panel.ui-corner-bottom.ui-widget-content {
    padding-left: 40px;
    padding-right: 0px;
}

/* графики */
.c3-region.regionX {
  fill: #808080;
}

.c3-region.highRT {
  fill: red;
}

.page-header {
    margin-top: 5px;
}

/* спиннеры */


.spinner input {
  text-align: right;
}

.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 2%;
  vertical-align: middle;
  display: table-cell;
}

.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}

.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}

.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}

.input-group-btn-vertical i {
  position: absolute;
  top: 0;
  left: 4px;
}

/* Прозрачные батоны */

.icon-button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
}

.editable_label:hover {
    background: #f2f5ff;
    border-radius:5px;
}

/* */
#alert_placeholder {
position: fixed;
bottom: 0;
width: 100%;
}