<div class="table-responsive">
<table id="online_aggregate_table" class="table">
    <thead>
        <tr>
            <th>Action</th>
            {% for name, value in aggregate_table.items %} 
                {% if forloop.first %}
                {% for metric_name in value %}
                    <th> {{ metric_name }} </th>
                {% endfor %}
                {% endif %}
            {% endfor %}
        </tr>
    </thead>
    {% for name, value in aggregate_table.items %}
    <tr>
            <td> {{ name }}</td>
        {% for k, v in value.items %}
            <td> {{ v }} </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
</div>
<script>
        $('#online_aggregate_table').tablesorter();
</script>