{% extends 'jltc/base.html' %}
{% load staticfiles %}
{% load analyzer_extras %}
{% block content %}
<hr/>
<form class="form-inline" method="POST">
    {% csrf_token %}
    <div class="col-md-1">
        <select name="project_id" id="analyzer-select-project" class="form-control form-control-sm analyzer-form-control">
            <option disabled {% if not project_id %} selected {% endif %} value="Select project">Select project</option>
            {% for project in projects %}
                <option value="{{ project.id }}" {% ifequal project.id project_.id %} selected {% endifequal %} >{{ project.project_name }}</option>
            {% endfor %}
        </select>
    </div>
    {% if tests %}
    <div class="col-md-1">
        <select name="test_id" id="analyzer-select-test" class="form-control form-control-sm analyzer-form-control">
            <option disabled {% if not test_id %} selected {% endif %} value="Select test">Select test</option>
            {% for test in tests %}
                <option value="{{ test.id }}" {% ifequal test.id test_.id %} selected {% endifequal %} >{{ test.display_name }}</option>
            {% endfor %}
        </select>
    </div>
    {% endif %}
</form>
<hr/>
{% if test_ %}
    {% generate_test_report test_ %}
{% endif %}
{% endblock %}
{% block script %}
<script src="{% static 'js/analyzer/analyzer.js' %}"></script>
{% endblock %}
