<head>
    <meta charset="UTF-8">
    <title>Action report</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/c3.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/theme.bootstrap_2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/my.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/nv.d3.min.css' %}"/>
    <script src="{% static 'js/d3.min.js' %}"></script>
    <script src="{% static 'js/c3.min.js' %}"></script>
    <script src="{% static 'js/nv.d3.min.js' %}"></script>
    <style>
      text {
      font: 12px sans-serif;
      }
      svg {
      display: block;
      }
      html, body, #boxplot, svg {
      margin: 0px;
      padding: 0px;
      height: 100%;
      width: 100%;
      }
      .fixed-panel {
       min-height: 300;
       max-height: 300;
       overflow-y: scroll;
      }

    </style>
</head>
<body>
<div class="panel panel-primary">
    <div class="panel-body">
        <row>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4 class="page-header">{{ action.url }}</h4>
                    <h5 class="page-header">Test`s start time (UTC): {{ test_start_time }}</h4>    
                    <div class="col-xs-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">Average/median response times (ms) and errors during the test
                            </div>
                            <div class="panel-body fixed-panel">
                                <div id="url_rtot_graph"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">Boxplot:</div>
                            <div class="panel-body fixed-panel">
                                <div class="col-xs-6">
                                    <li><b>Min:</b> {{ action_data.0.min }} ms</li>
                                    <li><b>Max:</b> {{ action_data.0.max }} ms</li>
                                    <li><b>Median:</b> {{ action_data.0.q2 }} ms</li>
                                    <li><b>Mean:</b> {{ action_data.0.mean }} ms</li>
                                    <li><b>IQR:</b> {{ action_data.0.IQR }} ms</li>
                                    <li><b>Lower wisker:</b> {{ action_data.0.LW }} ms</li>
                                    <li><b>Upper wisker:</b> {{ action_data.0.UW }} ms</li>
                                    <li><b>Standart deviation:</b> {{ action_data.0.std }} ms</li>    

                                </div>
                                <div class="col-xs-6">
                                    <div class="gallery" id="boxplot">
                                        <svg></svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </row>
        <row>
            <div class="panel panel-default">
                <div class="panel-heading">Compare with previous test results</div>
                <div class="panel-body fixed-panel">
                    <div class="gallery" id="boxplot_history">
                        <svg></svg>
                    </div>
                </div>
            </div>

        </row>
        <row>
            <div class="panel panel-danger">
                <div class="panel-heading">Errors:</div>
                <div class="panel-body fixed-panel">
                    {% for test_error in test_errors %} 
                    <li class="list-group-item"><span class="badge alert-danger">{{ test_error.count }}</span><b>Code: </b>{{ test_error.code }}<b> Text: </b> {{ test_error.text }}</li>
                    {% endfor %}
                </div>
            </div>

        </row>
    </div>
</div>
<script>


      url_rtot_graph = c3.generate({
          data: {
              url: "/analyzer/test/{{ test_id }}/action/{{ action.id }}/rtot",
              mimeType: 'json',
              type: 'line',
              keys: {
                  x: 'timestamp',
                  value: ['average', 'median', 'errors'],

              },
              xFormat: '%H:%M:%S',

              axes: {
                  errors: 'y2'
              },
              colors: {
              'errors': 'red',
              },
          },
          axis: {
              x: {
                  type: 'timeseries',
                  tick: {
                      format: '%H:%M'
                  }
              },
              y: {
                  padding: {
                      top: 0,
                      bottom: 0
                  },
                  label: 'response times (ms)',
              },
              y2: {
                  min: 0,
                  show: true,
                  padding: {
                      top: 0,
                      bottom: 0
                  },
                  label: 'Errors / s',
              }

          },
          bindto: '#url_rtot_graph'
      });

       nv.addGraph(function() {
      var chart = nv.models.boxPlotChart()
          .x(function(d) { return d.label })
          .staggerLabels(true)
          .maxBoxWidth(100).height(300);
          ;
      d3.select('#boxplot svg')
          .datum(boxPlotData())
          .call(chart);
      nv.utils.windowResize(chart.update);
      return chart;
      });

      nv.addGraph(function() {
      var chart = nv.models.boxPlotChart()
          .x(function(d) { return d.label })
          .staggerLabels(true)
          .maxBoxWidth(100).height(300);
          ;
      d3.select('#boxplot_history svg')
          .datum(boxPlotHistoryData())
          .call(chart);
      nv.utils.windowResize(chart.update);
      return chart;
      });


      function boxPlotData() {
      return  [
        {
          values: {
            Q1: {{ action_data.0.q1 }},
            Q2: {{ action_data.0.q2 }},
            Q3: {{ action_data.0.q3 }},
            whisker_low: {{ action_data.0.LW }},
            whisker_high: {{ action_data.0.UW }},
            outliers: [{{ action_data.0.mean }}], 
          },
        },
      ];
      }

      function boxPlotHistoryData() {
      return  [
        {% for el in action_data %}
        {
          label: "{{ el.test_name }}",
          values:

          {
            Q1: {{ el.q1 }},
            Q2: {{ el.q2 }},
            Q3: {{ el.q3 }},
            whisker_low: {{ el.LW }},
            whisker_high: {{ el.UW }},
            outliers: [{{ el.mean }}],
          },

        },
        {% endfor %}
      ];
      }


</script>
</body>