<hr/>
<div class="row">
    <div class="col-xs-6">
        <div class="panel panel-success">
            <div class="panel-heading">Positive:</div>
            <div class="panel-body">
                <ul>
                    {% if report.lower_response_times|length > 0 %} {% for row in report.lower_response_times %}
                    {% get_percentage_abs row.action_data_1.mean row.action_data_2.mean as diff_percentage %}
                    <li class="list-group-item"><span class="badge alert-{{ row.severity }}">{{ row.severity }}</span> Action {{ row.action }} is became
                        faster on <b>{{ diff_percentage }} % </b>in average ({{ row.action_data_2.mean|floatformat }} ms
                        -> {{ row.action_data_1.mean|floatformat }} ms)</li>
                    {% endfor %} {% else %}
                    <b>No any reasonable improvements</b> {% endif %}
                </ul>
            </div>
        </div>
        <div class="panel panel-danger">
            <div class="panel-heading">Negatives:</div>
            <div class="panel-body">
                <ul>
                    {% if report.cpu_steal|length > 0 %}
                    {% for row in report.cpu_steal %}
                    <li class="list-group-item"><span class="badge alert-{{ row.severity }}">{{ row.severity }}</span> Server {{ row.server_name }}
                            had <b>high cpu_steal ({{ row.cpu_steal|floatformat }} % in average)</b> during the test <b>"{{ row.test_name }}"</b>
                    </li>
                    {% endfor %}
                    {% endif %}
                    {% if report.higher_response_times|length > 0 %}
                    {% for row in report.higher_response_times %}
                    {% get_percentage_abs row.action_data_1.mean row.action_data_2.mean as diff_percentage %}
                    <li class="list-group-item"><span class="badge alert-{{ row.severity }}">{{ row.severity }}</span> Action {{ row.action }} is became
                        slower on <b>{{ diff_percentage }} % </b>in average ({{ row.action_data_2.mean|floatformat }} ms
                        -> {{ row.action_data_1.mean|floatformat }} ms)</li>
                    {% endfor %}
                    {% else %}
                    <b>No any reasonable negative changes</b>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">Additional:</div>
            <div class="panel-body">
                <ul>
                    {% if report.absense|length > 0 %}
                        {% for row in report.absense %}
                        <li class="list-group-item"><span class="badge alert-{{ row.severity }}">{{ row.severity }}</span> Action {{ row.action }} was not
                        executed during the last test <b>"{{ test_1.display_name }}"</b></li>
                        {% endfor %}
                    {% elif report.lower_count|length > 0 %}
                        {% for row in report.lower_count %}
                        {% get_percentage_abs row.action_data_1.count row.action_data_2.count as diff_percentage %}
                        <li class="list-group-item"><span class="badge alert-{{ row.severity }}">{{ row.severity }}</span> Action {{ row.action }} had <b>{{ diff_percentage }}</b> % less executions than in previous test <b>"{{ test_2.display_name }}"</b></li>
                        {% endfor %}
                    {% elif report.new_action_in_test|length > 0 %}
                        {% for row in report.new_action_in_test %}
                        <li class="list-group-item"><span class="badge alert-{{ row.severity }}">{{ row.severity }}</span> Action {{ row.action }} was not
                         executed during the previous test <b>"{{ test_2.display_name }}"</b></li>
                        {% endfor %}
                    {% else %}
                    <b>No any additional info</b>
                     {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="panel panel-default">
            <div class="panel-heading">Graph</div>
            <div class="panel-body">
                <div id="compare_aggregate_data_graph"></div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Detailed comparasion table for tests: <b>{{test_1.display_name}}</b> vs. <b>{{test_2.display_name}}</b></div>
    <div class="panel-body">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Action</th>
                    <th colspan="2">mean</th>
                    <th colspan="2">50%</th>
                    <th colspan="2">90%</th>
                    <th colspan="2">max</th>
                    <th colspan="2">min</th>
                    <th colspan="2">count</th>
                    <th colspan="2">errors</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td></td>
                        <td><b>{{test_1.display_name}}</b></td>
                        <td><b>{{test_2.display_name}}</b></td>
                        <td><b>{{test_1.display_name}}</b></td>
                        <td><b>{{test_2.display_name}}</b></td>
                        <td><b>{{test_1.display_name}}</b></td>
                        <td><b>{{test_2.display_name}}</b></td>
                        <td><b>{{test_1.display_name}}</b></td>
                        <td><b>{{test_2.display_name}}</b></td>
                        <td><b>{{test_1.display_name}}</b></td>
                        <td><b>{{test_2.display_name}}</b></td>
                        <td><b>{{test_1.display_name}}</b></td>
                        <td><b>{{test_2.display_name}}</b></td>
                        <td><b>{{test_1.display_name}}</b></td>
                        <td><b>{{test_2.display_name}}</b></td>
                    </tr>
            {% for row in compare_table %}
            <tr>
                <td><b>{{ row.action_name }}</b></td>
                <td>{{ row.mean_1 }}</td>
                <td>{{ row.mean_2 }}</td>
                <td>{{ row.p50_1 }}</td>
                <td>{{ row.p50_2 }}</td>
                <td>{{ row.p90_1 }}</td>
                <td>{{ row.p90_2 }}</td>
                <td>{{ row.max_1 }}</td>
                <td>{{ row.max_2 }}</td>
                <td>{{ row.min_1 }}</td>
                <td>{{ row.min_2 }}</td>
                <td>{{ row.count_1 }}</td>
                <td>{{ row.count_2 }}</td>
                <td>{{ row.errors_1 }}</td>
                <td>{{ row.errors_2 }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</div>
<script>
    var compare_aggregate_data_graph = c3.generate({
        bindto: '#compare_aggregate_data_graph',
        size: {
            height: 700,
        },
        data: {
            url: '/analyzer/test/' + test_id_1 + '/' + test_id_2 + "/compare_aggregate_data/", // specify that our above json is the data
            mimeType: 'json',
            keys: {
                x: 'action_name',
                value: ['mean_diff_percent']
            },
            type: 'bar', // specfify type of plot
            color: function (color, d) {
                if (d.value > 0) {
                    return d3.rgb(d.value * 30, 0, 0);
                } else {
                    return d3.rgb(0, Math.abs(d.value) * 20, 0);
                }
            }
        },

        bar: {
            width: {
                ratio: 0.8 // this makes bar width 50% of length between ticks
            }
            // or
            //width: 100 // this makes bar width 100px
        },

        axis: {
            rotated: true, // horizontal bar chart
            x: {
                type: 'category' // this needed to load string x value
            },
            y: {
                padding: {
                    top: 0,
                    bottom: 0
                },
                label: '%',
                max: 100,
                min: -100,
            }
        },
        zoom: {
            enabled: true
        },
        title: {
            text: 'Difference between response times (%) between two tests'
        },
        /*color: function (color, d) {
                     	       if(d.value>0)
                     	       {
                     	       return d3.rgb(0, d.value, 0);
                     	       }
                     	       else
                     	       {
                     	       return d3.rgb(abs(d.value), 0, 0);
                     	       }
                        }
                         color: function (color, d) {
                                    // d will be 'id' when called for legends

                                    return d3.rgb(0,0,0);
                                }*/
    });

</script>